In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('cardekho_dataset.csv')

In [ ]:
df

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
15407,19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [ ]:
df1=pd.read_csv('COVID19Cases.csv')

In [ ]:
df2=pd.read_csv('unece.json')

In [ ]:
df3=pd.read_excel('titanic_modified_NA.xlsx')

In [ ]:
df2

Empty DataFrame
Columns: [[{"Country":"Albania", Year:"2000", Area (square kilometres):28748, Total population:3401198, Population density, pers. per sq. km:118.31077, Population aged 0-14, male:564851, Population aged 0-14, female:529820, Population aged 15-64, male:1029446, Population aged 15-64, female:1086946, Population aged 64+, male:82588, Population aged 64+, female:107547, Total population, male (%):49.30278, Total population, female (%):50.69722, Life expectancy at birth, women:78.11, Life expectancy at birth, men:72.07, Life expectancy at age 65, women:17.16, Life expectancy at age 65, men:13.52, Total fertility rate:2.4, Adolescent fertility rate:15.24086, Mean age of women at birth of first child:null, Computer use, 16-24, male:null, Computer use, 16-24, female:null, Computer use, 25-54, male:null, Computer use, 25-54, female:null, Computer use, 55-74, male:null, Computer use, 55-74, female:null, Women in the Labour Force, Percent of corresponding total for both sexes:41.23149, Female part-time employment, percent of both sexes:null, Gender pay gap in monthly earnings:null, Gender pay gap in hourly earning wage rate:null, Female tertiary students, percent of total:61.3549, Women Researchers, Percent of corresponding total for both sexes:null, Female legislators, senior officials and managers, percent of total:null, Female professionals, percent of total for both sexes:null, Female clerks, percent of total for both sexes:null, Female craft and related workers, percent of total for both sexes:null, Female plant and machine operators and assemblers, percent of total for both sexes:null, Female government ministers, percent of total:null, Female members of parliament, percent of total:5.16129, Female ambassadors, percent of total:null, Female judges, percent of total:null, Women, percent of all victims of homicides:null, Total employment, growth rate:0.29953, Unemployment rate:16.8, Youth unemployment rate:null, Economic acivity rate, women 15-64:null, Economic activity rate, men 15-64:null, GDP at current prices and PPPs, millions of US$:11975.49451, GDP at current prices, millions of NCUs:501199, GDP per capita at current prices and PPPs, US$:3890.19371, GDP per capita at current prices, NCUs:162812.58324, Final consumption expenditure per capita, US Dollars, current PPPs:3595.59866, Purchasing power parity (PPP), NCU per US$:41.85205, Exchange rate (XR), NCU per US$:143.70942, Consumer price index, growth rate:0.04958, Export of goods and services, per cent of GDP:20.11528, Import of goods and services, per cent of GDP:43.33879, External balance on goods and services, per cent of GDP:-23.22351, GDP in agriculture (ISIC4 A): output approach, index, 2005=100:86.60708, GDP in industry (incl. construction) (ISIC4 B-F): output approach, index, 2005=100:60.547, GDP in services (ISIC4 G-U): output approach, index, 2005=100:80.00773, GDP: in agriculture etc. (ISIC4 A), output approach, per cent share of GVA:27.79084, GDP: in industry etc. (ISIC4 B-E), output approach, per cent share of GVA:9.13831, GDP: in construction (ISIC4 F), output approach, per cent share of GVA:12.84876, GDP: in trade, hospitality, transport and communication (ISIC4 G-J), output approach, per cent share of GVA:27.66077, GDP: in finance and business services (ISIC4 K-N), output approach, per cent share of GVA:12.22813, GDP: in public administration, education and health (ISIC4 O-Q), output approach, per cent share of GVA:9.19759, GDP: in other service activities (ISIC4 R-U), output approach, per cent share of GVA:1.1356, Employment in agriculture, hunting, forestry and fishing (ISIC Rev. 4 A), share of total employment:null, Employment in industry and energy (ISIC Rev. 4 B-E), share of total employment:null, Employment in construction (ISIC Rev. 4 F), share of total employment:null, Employment in trade, hotels, restaurants, transport and communications (ISIC Rev. 4 G-J), share of total employment:null, Employment in finance, real estate and business services (ISIC Rev. 4 K-N), share of total employment:null, Employment in public administration, education and health (ISIC Rev. 4 O-Q), share of total employment:null, Employment in other service activities (ISIC Rev. 4 R-U), share of total employment:null, Persons killed in road accidents:280, Persons injured in road accidents:336, Total length of motorways (km):null, Total length of railway lines (km):400}, {"Country":"Albania", Year:"2001", Area (square kilometres):28748.1, Total population:3073734, Population density, pers. per sq. km:106.91992, Population aged 0-14, male:460732, Population aged 0-14, female:436652, Population aged 15-64, male:963612, Population aged 15-64, female:980800, Population aged 64+, male:108254, Population aged 64+, female:123684, Total population, male (%):49.86111, Total population, female (%):50.13889, Life expectancy at birth, women:80.45, Life expectancy at birth, men:74.12, Life expectancy at age 65, women:19.51, Life expectancy at age 65, men:15.85, Total fertility rate:2.1, Adolescent fertility rate:16.49547, Mean age of women at birth of first child:null.1, Computer use, 16-24, male:null.1, ...]
Index: []

[0 rows x 69853 columns]

In [ ]:
df3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,T
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df2=pd.read_csv('https://raw.githubusercontent.com/arynch24/Python/main/Pandas/vgsalesGlobale.csv')

In [ ]:
df2

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [ ]:
df4=pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [ ]:
df4

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
len(df4)

1

In [ ]:
df4[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [ ]:
type(df4[0])

pandas.core.frame.DataFrame

In [ ]:
df5=df4[0]

In [ ]:
df5

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [ ]:
df5.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [ ]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')

In [ ]:
table_MN

[                                            Minnesota  \
 0                                               State
 1   .mw-parser-output .ib-settlement-cols{text-ali...
 2   Nicknames: Land of 10,000 Lakes; North Star St...
 3   Motto: L'Étoile du Nord (French: The Star of t...
 4                           Anthem: "Hail! Minnesota"
 5   Map of the United States with Minnesota highli...
 6                                             Country
 7                                    Before statehood
 8                               Admitted to the Union
 9                                             Capital
 10                                       Largest city
 11                       Largest county or equivalent
 12                      Largest metro and urban areas
 13                                         Government
 14                                         • Governor
 15                              • Lieutenant Governor
 16                                        Legislature
 17                                      • Upper house
 18                                      • Lower house
 19                                          Judiciary
 20                                      U.S. senators
 21                              U.S. House delegation
 22                                               Area
 23                                            • Total
 24                                             • Land
 25                                            • Water
 26                                             • Rank
 27                                         Dimensions
 28                                           • Length
 29                                            • Width
 30                                          Elevation
 31           Highest elevation (Eagle Mountain[1][a])
 32          Lowest elevation (Lake Superior[1][a][2])
 33                                  Population (2023)
 34                                            • Total
 35                                             • Rank
 36                                          • Density
 37                                             • Rank
 38                          • Median household income
 39                                      • Income rank
 40                                            Demonym
 41                                           Language
 42                                • Official language
 43                                  • Spoken language
 44                                          Time zone
 45                                     • Summer (DST)
 46                                  USPS abbreviation
 47                                      ISO 3166 code
 48                           Traditional abbreviation
 49                                           Latitude
 50                                          Longitude
 51                                            Website

                                           Minnesota.1
 0                                               State
 1   .mw-parser-output .ib-settlement-cols{text-ali...
 2   Nicknames: Land of 10,000 Lakes; North Star St...
 3   Motto: L'Étoile du Nord (French: The Star of t...
 4                           Anthem: "Hail! Minnesota"
 5   Map of the United States with Minnesota highli...
 6                                       United States
 7                                 Minnesota Territory
 8              May 11, 1858 (32nd State in the Union)
 9                                          Saint Paul
 10                                        Minneapolis
 11                                           Hennepin
 12                             Minneapolis–Saint Paul
 13                                         Government
 14                                     Tim Walz (DFL)
 15                               Peggy Flanagan (DFL)
 16                              Minnesota Legislature
 17                                             Senate
 18                           House of Representatives
 19                            Minnesota Supreme Court
 20               Amy Klobuchar (DFL) Tina Smith (DFL)
 21                   4 Democrats 4 Republicans (list)
 22                                               Area
 23                      86,935.83 sq mi (225,163 km2)
 24                      79,626.74 sq mi (206,232 km2)
 25                  7,309.09 sq mi (18,930 km2) 8.40%
 26                                               12th
 27                                         Dimensions
 28                              about 400 mi (640 km)
 29                            200–350 mi (320–560 km)
 30                                   1,200 ft (370 m)
 31                                   2,301 ft (701 m)
 32                                     602 ft (183 m)
 33                                  Population (2023)
 34                                       5,737,915[3]
 35                                               22nd
 36                              68.9/sq mi (26.6/km2)
 37                                 36th (2020 census)
 38                                         $74,593[4]
 39                                               13th
 40                                         Minnesotan
 41                                           Language
 42                                               none
 43              English 88.9% Spanish Somali Hmong[5]
 44                               UTC– 06:00 (Central)
 45                                   UTC– 05:00 (CDT)
 46                                                 MN
 47                                              US-MN
 48                                              Minn.
 49                             43° 30′ N to 49° 23′ N
 50                             89° 29′ W to 97° 14′ W
 51                                             mn.gov  ,
                    List of state symbols  \
                          Living insignia
 0                                   Bird
 1                              Butterfly
 2                                   Fish
 3                                 Flower
 4                               Mushroom
 5                                   Tree
 6                     Inanimate insignia
 7                               Beverage
 8                                   Food
 9                               Gemstone
 10                                 Other
 11                         State quarter
 12                      Released in 2005
 13  Lists of United States state symbols


                                     Living insignia.1
 0                                         Common loon
 1                                             Monarch
 2                                             Walleye
 3                       Pink-and-white lady's slipper
 4                  Common morel (Morchella esculenta)
 5                                      Norway pine[6]
 6                                  Inanimate insignia
 7                                                Milk
 8   .mw-parser-output .plainlist ol,.mw-parser-out...
 9                                 Lake Superior agate
 10                                  Photograph: Grace
 11                                      State quarter
 12                                   Released in 2005
 13               Lists of United States state symbols  ,
               Location July (°F) July (°C) January (°F) January (°C)
 0          Minneapolis     83/64     28/18         23/7       −4/−13
 1           Saint Paul     83/63     28/17         23/6       −5/−14
 2            Rochester     82/63     28/17         23/3       −5/−16
 3               Duluth     76/55     24/13         19/1       −7/−17
 4            St. Cloud     81/58     27/14        18/−1       −7/−18
 5              Mankato     86/62     30/16         23/3       −5/−16
 6  International Falls     77/52     25/11        15/−6       −9/−21,
    Largest cities or towns in Minnesota Source:[82]                         \
                                  Unnamed: 0_level_1                   Rank
 0                            Minneapolis Saint Paul                      1
 1                            Minneapolis Saint Paul                      2
 2                            Minneapolis Saint Paul                      3
 3                            Minneapolis Saint Paul                      4
 4                            Minneapolis Saint Paul                      5
 5                            Minneapolis Saint Paul                      6
 6                            Minneapolis Saint Paul                      7
 7                            Minneapolis Saint Paul                      8
 8                            Minneapolis Saint Paul                      9
 9                            Minneapolis Saint Paul                     10
 10                           Minneapolis Saint Paul  Rochester Bloomington

                                                                 \
              Name      County      Pop.     Unnamed: 5_level_1
 0     Minneapolis    Hennepin  425336.0  Rochester Bloomington
 1      Saint Paul      Ramsey  307193.0  Rochester Bloomington
 2       Rochester     Olmsted  121465.0  Rochester Bloomington
 3     Bloomington    Hennepin   89298.0  Rochester Bloomington
 4          Duluth   St. Louis   86372.0  Rochester Bloomington
 5   Brooklyn Park    Hennepin   84526.0  Rochester Bloomington
 6        Plymouth    Hennepin   79828.0  Rochester Bloomington
 7        Woodbury  Washington   76990.0  Rochester Bloomington
 8       Lakeville      Dakota   72812.0  Rochester Bloomington
 9          Blaine       Anoka   70935.0  Rochester Bloomington
 10            NaN         NaN       NaN                    NaN


    Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1
 0                 NaN                NaN                NaN                NaN
 1                 NaN                NaN                NaN                NaN
 2                 NaN                NaN                NaN                NaN
 3                 NaN                NaN                NaN                NaN
 4                 NaN                NaN                NaN                NaN
 5                 NaN                NaN                NaN                NaN
 6                 NaN                NaN                NaN                NaN
 7                 NaN                NaN                NaN                NaN
 8                 NaN                NaN                NaN                NaN
 9                 NaN                NaN                NaN                NaN
 10                NaN                NaN                NaN                NaN  ,
                                     Census  \
 0                                     1850
 1                                     1860
 2                                     1870
 3                                     1880
 4                                     1890
 5                                     1900
 6                                     1910
 7                                     1920
 8                                     1930
 9                                     1940
 10                                    1950
 11                                    1960
 12                                    1970
 13                                    1980
 14                                    1990
 15                                    2000
 16                                    2010
 17                                    2020
 18                             2023 (est.)
 19  Source: 1910–2020[83] 2022 Estimate[3]

                                       Pop.  \
 0                                     6077
 1                                   172023
 2                                   439706
 3                                   780773
 4                                  1310283
 5                                  1751394
 6                                  2075708
 7                                  2387125
 8                                  2563953
 9                                  2792300
 10                                 2982483
 11                                 3413864
 12                                 3804971
 13                                 4075970
 14                                 4375099
 15                                 4919479
 16                                 5303925
 17                                 5706494
 18                                 5737915
 19  Source: 1910–2020[83] 2022 Estimate[3]

    .mw-parser-output .sr-only{border:0;clip:rect(0,0,0,0);clip-path:polygon(0px 0px,0px 0px,0px 0px);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap}Note  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19             Source: 1910–2020[83] 2022 Estimate[3]

                                         %±
 0                                        —
 1                                 2,730.7%
 2                                   155.6%
 3                                    77.6%
 4                                    67.8%
 5                                    33.7%
 6                                    18.5%
 7                                    15.0%
 8                                     7.4%
 9                                     8.9%
 10                                    6.8%
 11                                   14.5%
 12                                   11.5%
 13                                    7.1%
 14                                    7.3%
 15                                   12.4%
 16                                    7.8%
 17                                    7.6%
 18                                    0.6%
 19  Source: 1910–2020[83] 2022 Estimate[3]  ,
                         Race Percentage
 0                      White      77.5%
 1  Black or African American       7.0%
 2            American Indian       1.2%
 3                      Asian       5.3%
 4           Pacific Islander       0.1%
 5                 Other race       3.2%
 6          Two or more races       6.1%,
             Country  Population
 0            Mexico       95227
 1           Somalia       76658
 2   Hmong people[b]       55005
 3             India       39559
 4          Ethiopia       36982
 5              Laos       24901
 6             China       24353
 7           Vietnam       22283
 8           Liberia       20168
 9       South Korea       20126
 10         Thailand       19235
 11           Canada       18804
 12            Kenya       16823
 13          Myanmar       15679
 14      Philippines       13544
 15           Russia       12787
 16      El Salvador       12137,
     Year Republican         Democratic         Third party
     Year        No.       %        No.       %         No.       %
 0   2020    1484065  45.28%    1717077  52.40%       76029   2.32%
 1   2016    1323232  44.93%    1367825  46.44%      254176   8.63%
 2   2012    1320225  44.96%    1546167  52.65%       70169   2.39%
 3   2008    1275409  43.82%    1573354  54.06%       61606   2.12%
 4   2004    1346695  47.61%    1445014  51.09%       36678   1.30%
 5   2000    1109659  45.50%    1168266  47.91%      160760   6.59%
 6   1996     766476  34.96%    1120438  51.10%      305726  13.94%
 7   1992     747841  31.85%    1020997  43.48%      579110  24.66%
 8   1988     962337  45.90%    1109471  52.91%       24982   1.19%
 9   1984    1032603  49.54%    1036364  49.72%       15482   0.74%
 10  1980     873241  42.56%     954174  46.50%      224538  10.94%
 11  1976     819395  42.02%    1070440  54.90%       60096   3.08%
 12  1972     898269  51.58%     802346  46.07%       41037   2.36%
 13  1968     658643  41.46%     857738  54.00%       72129   4.54%
 14  1964     559624  36.00%     991117  63.76%        3721   0.24%
 15  1960     757915  49.16%     779933  50.58%        4039   0.26%
 16  1956     719302  53.68%     617525  46.08%        3178   0.24%
 17  1952     763211  55.33%     608458  44.11%        7814   0.57%
 18  1948     483617  39.89%     692966  57.16%       35643   2.94%
 19  1944     527416  46.86%     589864  52.41%        8249   0.73%
 20  1940     596274  47.66%     644196  51.49%       10718   0.86%
 21  1936     350461  31.01%     698811  61.84%       80703   7.14%
 22  1932     363959  36.29%     600806  59.91%       38078   3.80%
 23  1928     560977  57.77%     396451  40.83%       13548   1.40%
 24  1924     420759  51.18%      55913   6.80%      345474  42.02%
 25  1920     519421  70.59%     142994  19.43%       73423   9.98%
 26  1916     179544  46.35%     179152  46.25%       28668   7.40%
 27  1912      64334  19.25%     106426  31.84%      163459  48.91%
 28  1908     195843  59.11%     109401  33.02%       26060   7.87%
 29  1904     216651  73.98%      55187  18.84%       21022   7.18%
 30  1900     190461  60.21%     112901  35.69%       12949   4.09%
 31  1896     193503  56.62%     139735  40.89%        8524   2.49%
 32  1892     122823  45.96%     100920  37.76%       43495  16.28%
 33  1888     142492  54.12%     104385  39.65%       16408   6.23%
 34  1884     111685  58.78%      70065  36.87%        8267   4.35%
 35  1880      93902  62.28%      53315  35.36%        3553   2.36%
 36  1876      72955  58.80%      48587  39.16%        2533   2.04%
 37  1872      55708  61.27%      35211  38.73%           0   0.00%
 38  1868      43722  60.88%      28096  39.12%           0   0.00%
 39  1864      25055  59.06%      17367  40.94%           0   0.00%
 40  1860      22069  63.53%      11920  34.31%         748   2.15%,
                        0                                                  1  \
 0  Preceded byCalifornia  List of U.S. states by date of statehood Admit...

                     2
 0  Succeeded byOregon  ,
       Topics related to Minnesota Land of 10,000 Lakes  \
 0    .mw-parser-output .hlist dl,.mw-parser-output ...
 1    .mw-parser-output .navbar{display:inline;font-...
 2                                 Saint Paul (capital)
 3                                               Topics
 4                                              Society
 ..                                                 ...
 98                                    Federal district
 99                                       Insular areas
 100                                   Outlying islands
 101                                Indian reservations
 102                          International concessions

     Topics related to Minnesota Land of 10,000 Lakes.1
 0    .mw-parser-output .hlist dl,.mw-parser-output ...
 1    .mw-parser-output .navbar{display:inline;font-...
 2                                 Saint Paul (capital)
 3    Index Outline Biking/Cycling Cities Climate (C...
 4    Abortion Culture Crime Demographics Religion E...
 ..                                                 ...
 98                                    Washington, D.C.

In [ ]:
df1.

,Case_Type,People_Total_Tested_Count,Cases,Difference,Date,Combined_Key,Country_Region,Province_State,Admin2,iso2,iso3,FIPS,Lat,Long,Population_Count,People_Hospitalized_Cumulative_Count,Data_Source,Prep_Flow_Runtime
0,Confirmed,NaN,6,0,5/22/2020,Western Sahara,Western Sahara,NaN,NaN,EH,ESH,NaN,24.215500,-12.885800,597330.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
1,Confirmed,NaN,0,0,2/3/2020,Switzerland,Switzerland,NaN,NaN,CH,CHE,NaN,46.818200,8.227500,8654618.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
2,Deaths,NaN,0,0,3/1/2020,Cyprus,Cyprus,NaN,NaN,CY,CYP,NaN,35.126400,33.429900,1207361.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
3,Confirmed,NaN,23,0,4/21/2020,Antigua and Barbuda,Antigua and Barbuda,NaN,NaN,AG,ATG,NaN,17.060800,-61.796400,97928.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
4,Deaths,NaN,56,0,5/11/2020,Thailand,Thailand,NaN,NaN,TH,THA,NaN,15.870032,100.992541,69799978.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21963,Deaths,NaN,1,0,3/20/2020,"Fujian, China",China,Fujian,NaN,CN,CHN,NaN,26.078900,117.987400,39410000.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
21964,Deaths,NaN,0,0,4/3/2020,"Faroe Islands, Denmark",Denmark,Faroe Islands,NaN,FO,FRO,NaN,61.892600,-6.911800,48865.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
21965,Confirmed,NaN,2578,352,4/12/2020,Belarus,Belarus,NaN,NaN,BY,BLR,NaN,53.709800,27.953400,9449321.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
21966,Deaths,NaN,1584,140,4/5/2020,Germany,Germany,NaN,NaN,DE,DEU,NaN,51.165691,10.451526,83783945.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
21967,Deaths,NaN,0,0,2/3/2020,Mali,Mali,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd

In [ ]:
car=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/cardekho_dataset.csv')

In [ ]:
car

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
15407,19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [ ]:
car.value_counts('brand')

brand
Maruti           4992
Hyundai          2982
Honda            1485
Mahindra         1011
Toyota            793
Ford              790
Volkswagen        620
Renault           536
BMW               439
Tata              430
Mercedes-Benz     337
Skoda             334
Audi              192
Datsun            170
Jaguar             59
Land Rover         51
Jeep               41
Kia                32
Porsche            21
Volvo              20
MG                 19
Mini               17
Nissan             11
Lexus              10
Isuzu               8
Bentley             3
Maserati            2
ISUZU               2
Mercedes-AMG        1
Rolls-Royce         1
Force               1
Ferrari             1
dtype: int64

In [ ]:
car.brand.value_counts()

Maruti           4992
Hyundai          2982
Honda            1485
Mahindra         1011
Toyota            793
Ford              790
Volkswagen        620
Renault           536
BMW               439
Tata              430
Mercedes-Benz     337
Skoda             334
Audi              192
Datsun            170
Jaguar             59
Land Rover         51
Jeep               41
Kia                32
Porsche            21
Volvo              20
MG                 19
Mini               17
Nissan             11
Lexus              10
Isuzu               8
Bentley             3
Maserati            2
ISUZU               2
Ferrari             1
Mercedes-AMG        1
Rolls-Royce         1
Force               1
Name: brand, dtype: int64